In [1]:
import pandas as pd
import numpy as np

In [2]:
df_final = pd.read_csv('cleaned_bengaluru_house_data.csv')
# create dummy of location column
dummies = pd.get_dummies(df_final['location'])
# 3. Combine the DataFrames
# This joins your original data with the new 'dummies' side-by-side
df_model = pd.concat([df_final, dummies], axis='columns')

In [3]:
df_model

,area_type,location,bath,price,bhk,area,price_per_sqft,Devarabeesana Halli,Devarachikkanahalli,Electronic City,...,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yemlur,Yeshwanthpur,Yeshwanthpur Industrial Suburb,frazertown,manyata park,tc.palya
0,Super built-up Area,Devarabeesana Halli,3.0,150.00,3,1672.0,8971.291866,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Built-up Area,Devarabeesana Halli,3.0,149.00,3,1750.0,8514.285714,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Super built-up Area,Devarabeesana Halli,3.0,150.00,3,1750.0,8571.428571,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Super built-up Area,Devarachikkanahalli,2.0,44.00,3,1250.0,3520.000000,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,Super built-up Area,Devarachikkanahalli,2.0,40.00,2,1250.0,3200.000000,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9143,Super built-up Area,frazertown,3.0,325.00,3,2900.0,11206.896552,False,False,False,...,False,False,False,False,False,False,False,True,False,False
9144,Super built-up Area,manyata park,3.0,84.83,3,1780.0,4765.730337,False,False,False,...,False,False,False,False,False,False,False,False,True,False
9145,Plot Area,tc.palya,2.0,48.00,2,880.0,5454.545455,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9146,Plot Area,tc.palya,2.0,55.00,2,1000.0,5500.000000,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9147,Plot Area,tc.palya,2.0,78.00,3,1400.0,5571.428571,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [4]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9148 entries, 0 to 9147
Columns: 768 entries, area_type to tc.palya
dtypes: bool(761), float64(4), int64(1), object(2)
memory usage: 7.1+ MB

In [5]:
df_model = df_model.drop(['location', 'price_per_sqft', 'area_type'], axis='columns')

In [6]:
df_model

,bath,price,bhk,area,Devarabeesana Halli,Devarachikkanahalli,Electronic City,Mysore Highway,Thanisandra,south,...,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yemlur,Yeshwanthpur,Yeshwanthpur Industrial Suburb,frazertown,manyata park,tc.palya
0,3.0,150.00,3,1672.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,3.0,149.00,3,1750.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3.0,150.00,3,1750.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2.0,44.00,3,1250.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2.0,40.00,2,1250.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9143,3.0,325.00,3,2900.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
9144,3.0,84.83,3,1780.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
9145,2.0,48.00,2,880.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9146,2.0,55.00,2,1000.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9147,2.0,78.00,3,1400.0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [7]:
output_filename = "model_data.csv"
df_model.to_csv(output_filename, index=False)

In [8]:
## Here we are dealing with a Supervised model

X = df_model.drop(['price'], axis='columns')
y = df_model['price']

In [9]:
print("Shape of X (features):", X.shape)
print("Shape of y (target):", y.shape)

Shape of X (features): (9148, 764)
Shape of y (target): (9148,)

In [10]:
# Training set - 80%
# Testing set - 20%

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
print(X_train)
print(X_test)

      bath  bhk    area   Devarabeesana Halli   Devarachikkanahalli  \
8482   2.0    2  1280.0                 False                 False
5225   3.0    3  1594.0                 False                 False
3328   4.0    4  3067.0                 False                 False
8428   3.0    3  2842.0                 False                 False
4031   4.0    3  2100.0                 False                 False
...    ...  ...     ...                   ...                   ...
5734   2.0    2  1365.0                 False                 False
5191   7.0    7  2456.0                 False                 False
5390   2.0    2  1183.0                 False                 False
860    2.0    2  1145.0                 False                 False
7270   3.0    3  2289.0                 False                 False

       Electronic City   Mysore Highway   Thanisandra   south  \
8482             False            False         False   False
5225             False            False         False   False
3328             False            False         False   False
8428             False            False         False   False
4031             False            False         False   False
...                ...              ...           ...     ...
5734             False            False         False   False
5191             False            False         False   False
5390             False            False         False   False
860              False            False         False   False
7270             False            False         False   False

      1st Block BEL Layout  ...  Yelachenahalli  Yelahanka  \
8482                 False  ...           False      False
5225                 False  ...           False      False
3328                 False  ...           False      False
8428                 False  ...           False      False
4031                 False  ...           False      False
...                    ...  ...             ...        ...
5734                 False  ...           False      False
5191                 False  ...           False      False
5390                 False  ...           False      False
860                  False  ...           False      False
7270                 False  ...           False      False

      Yelahanka New Town  Yelenahalli  Yemlur  Yeshwanthpur  \
8482               False        False   False         False
5225               False        False   False         False
3328               False        False   False         False
8428               False        False   False         False
4031               False        False   False         False
...                  ...          ...     ...           ...
5734               False        False   False         False
5191               False        False   False         False
5390               False        False   False         False
860                False        False   False         False
7270               False        False   False         False

      Yeshwanthpur Industrial Suburb  frazertown  manyata park  tc.palya
8482                           False       False         False     False
5225                           False       False         False     False
3328                           False       False         False     False
8428                           False       False         False     False
4031                           False       False         False     False
...                              ...         ...           ...       ...
5734                           False       False         False     False
5191                           False       False         False     False
5390                           False       False         False     False
860                            False       False         False     False
7270                           False       False         False     False

[7318 rows x 764 columns]
      bath  bhk    area   Devarabeesana Halli   Devarachikkanahalli  \
6984   2.0    2  1215.0                 False                 False
2213   3.0    3  1475.0                 False                 False
2826   1.0    1   600.0                 False                 False
6176   4.0    4  2690.0                 False                 False
9146   2.0    2  1000.0                 False                 False
...    ...  ...     ...                   ...                   ...
6838   1.0    1   540.0                 False                 False
1536   1.0    2   700.0                 False                 False
745    2.0    2  1300.0                 False                 False
9100   3.0    3  1679.0                 False                 False
8450   3.0    3  1697.0                 False                 False

       Electronic City   Mysore Highway   Thanisandra   south  \
6984             False            False         False   False
2213             False            False         False   False
2826             False            False         False   False
6176             False            False         False   False
9146             False            False         False   False
...                ...              ...           ...     ...
6838             False            False         False   False
1536             False            False         False   False
745              False            False         False   False
9100             False            False         False   False
8450             False            False         False   False

      1st Block BEL Layout  ...  Yelachenahalli  Yelahanka  \
6984                 False  ...           False      False
2213                 False  ...           False      False
2826                 False  ...           False      False
6176                 False  ...           False      False
9146                 False  ...           False      False
...                    ...  ...             ...        ...
6838                 False  ...           False      False
1536                 False  ...           False      False
745                  False  ...           False      False
9100                 False  ...           False      False
8450                 False  ...           False      False

      Yelahanka New Town  Yelenahalli  Yemlur  Yeshwanthpur  \
6984               False        False   False         False
2213               False        False   False         False
2826               False        False   False         False
6176               False        False   False         False
9146               False        False   False         False
...                  ...          ...     ...           ...
6838               False        False   False         False
1536               False        False   False         False
745                False        False   False         False
9100               False        False   False          True
8450               False        False   False         False

      Yeshwanthpur Industrial Suburb  frazertown  manyata park  tc.palya
6984                           False       False         False     False
2213                           False       False         False     False
2826                           False       False         False     False
6176                           False       False         False     False
9146                           False       False         False      True
...                              ...         ...           ...       ...
6838                           False       False         False     False
1536                           False       False         False     False
745                            False       False         False     False
9100                           False       False         False     False
8450                           False       False         False     False

[1830 rows x 764 columns]

In [12]:
#Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Assign variable to the model
lr_model = LinearRegression()

# Train the model on training data
lr_model.fit(X_train, y_train)

# predict from test
y_pred_lr = lr_model.predict(X_test)

# Calculate R^2 score
score_lr = r2_score(y_test, y_pred_lr)

print(f"R^2 Score: {score_lr * 100:.2f}%")

R^2 Score: 78.84%

In [16]:
# Now lets train it on Random Forest Classifier
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)
score_rf = r2_score(y_test, y_pred_rf)

print(f"R^2 Score: {score_lr * 100:.2f}%")

R^2 Score: 78.84%

In [21]:
# Both of them are giving the same R^2 score
# K-Fold Cross-Validation
from sklearn.model_selection import cross_val_score
import numpy as np
k = 5
# Perform K-Fold Cross-Validation and get R2 scores for Linear Regression
lr_scores = cross_val_score(lr_model, X, y, cv=k, scoring='r2')
print("Linear Regression Avg. CV Score: {:.2f}%".format(np.mean(lr_scores) * 100))

# Perform K-Fold Cross-Validation and get R2 scores for Random Forest
rf_scores = cross_val_score(rf_model, X, y, cv=k, scoring='r2')
print("Random Forest Avg. CV Score: {:.2f}%".format(np.mean(rf_scores) * 100))

Linear Regression Avg. CV Score: 56.67%
Random Forest Avg. CV Score: 58.19%